/* estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    text-decoration: none;
}

h1{
    color: black;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* barra superior */
.container-bar{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 1;
    word-wrap: break-word;
  }
  
.container-bar a{
  margin-left: 20%;
}
  
#logo{
  margin-left: 1em;
  margin-top: 0.5em;
  border-radius: 15em;
}
  
#user{
  font-size: 50px;
  border-radius: 1em;
  margin-left: 1em;
  color: black;
  margin-top: 1vw;
}
  
.container-bar p{
  font-size: 19px;
  margin-top: 5%;
  margin-left: 2%;
}

/* contenido */
#primera{
    margin-top: 25vw;
}
  
.content {
    padding: 20px;
    transition: margin-left 0.5s;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    border-radius: 10px; /* Agrega bordes redondeados */
    border: #a2fa1b solid 0.15em;;
    margin: 0 20px;
}

.container-galeria1{
    background-color: rgb(224, 224, 224);
    width: 90%;
    height: 58vw;
    overflow-y: hidden;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 80%;
    margin:auto;
    grid-gap: 10px;
    overflow: hidden;
    border-radius: 1em;
}

.galeria a{
    display: block;
    width: 57vw;
    position: relative;
    overflow: hidden;
    margin-top: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

.galeria a:active img{
    filter: blur(2.5px);
    transform: rotate(5deg) scale(1.2);
}

.galeria img{
    width: 100%;
    height: 50vw;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
    transition: tranform 0.4s ease-in-out;
    justify-content: center;
    align-content: center;
    transform: scale(0);
}

.close{
    display: block;
    position: absolute;
    top: 190px;
    right: 30px;
    font-size: 22px;
}

.next-r{
    display: block;
    height: 5vw;
    width: 5vw;
    border: white solid 0.15em;
    border-radius: 1em;
    line-height: 5.5vw;
    text-align: center;
    margin-top: 75%;
    margin-left: 5vw;
}

.next-l{
    display: block;
    height: 5vw;
    width: 5vw;
    border: white solid 0.15em;
    border-radius: 1em;
    line-height: 5.5vw;
    text-align: center;
    margin-top: 75%;
    margin-right: 5vw;
}

.light-box img{
    width: 70vw;
    max-height: 55vw;
    margin-top: 50%;
    object-fit: cover;
}

.light-box:target{
    transform: scale(1);
}

#btnShow{
    width: 35vw;
    height: 10vw;
    border-radius: 1em;
    border: #a2fa1b solid 0.15em;
    background-color: white;
    color: black;
    margin-top: 15px;
    margin-left: 22vw;
    font-weight: bold;
    font-size: 15px;
}

#btnShow:active{
    background-color: white;
    border: #a2fa1b solid 0.15em;
}

#btnShow2{
    width: 35vw;
    height: 10vw;
    border-radius: 1em;
    border: #a2fa1b solid 0.15em;
    background-color: white;
    color: black;
    margin-top: 15px;
    margin-left: 22vw;
    font-weight: bold;
    font-size: 15px;
}

#btnShow2:active{
    background-color: white;
    border: #a2fa1b solid 0.15em;
}








