body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efeded;
    text-decoration: none;
}

#actionButton {
    float: right;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: Arial;
    font-size: 20px;
}

#content {
    padding: 20px;
    transition: margin-left 0.5s;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A침ade una sombra suave */
    border-radius: 10px; /* Agrega bordes redondeados */
    margin: 0 20px;
}

#content.img {
    margin: 0 auto;
}

.container-bar{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 1;
    word-wrap: break-word;
  }
  
  .container-bar a{
    margin-left: 20%;
  }
  
  #logo{
    border-radius: 1em;
    margin-left: 1em;
    line-height: 50px;
  }
  
  #user{
    font-size: 50px;
    border-radius: 1em;
    margin-left: 1em;
    color: black;
    margin-top: 1vw;
  
  }
  
  .container-bar p{
    font-size: 19px;
    margin-top: 5%;
  }

.banner-sup{
    background-color: #fff;
    width: 90%;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-top: 85px;
}

.slider-box-banner{
    width: 85vw;
    height: auto;
    margin-left: 6.5vw;
    margin-top: 15vw;
    overflow-x: hidden;
}

.slider-box-banner ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 400%;
    animation: slide1 20s infinite alternate ease-in-out;
}

.slider-box-banner li{
    list-style: none;
    width: 100%;
    height: 180px;
    position: relative;
}

.slider-box-banner .img {
    width: 95%;
    height: 100%;
    border-radius: 1em;
    margin-left: 2.5%;
}

.titulo1{
    text-align: center;
    margin-top: -5px;
}

.container-accesos-rap{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

.card-acceso{
    width: 30vw;
    margin-left: 2.5%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding-bottom: 1.3em;
}

.card-acceso h2{
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -2px;
}

.card-acceso a{
    display: block;
    width: 16vw;
    margin-left: 2.3vw;
    border-radius: 1em;
    border: #042ffb solid 0.15em;
    padding: 0.5em 1.0em;
    font-size: 15px;
}

.card-acceso span {
    color: #042ffb;
}

#card1{
    margin-left: -0.5vw;
}

#card2{
    margin-left: -1.5vw;
}

#card3{
    margin-left: 1.5vw;
}

.contenerdor-ofertas{
    background-color: #fff;
    width: 90%;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-top: -50px;
}

.slider-box-ofertas{
    width: 95%;
    height: auto;
    margin: 50px auto 0;
    overflow-x: hidden;
}

.slider-box-ofertas ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 300%;
    animation: slide2 20s infinite alternate ease-in-out;
}

.slider-box-ofertas li{
    list-style: none;
    margin-left: 1%;
    width: 50%;
    height: 250px;
    position: relative;
    padding-top: 1em;
    background-color: white;
    border: #d2d2d2 solid 0.1em;
    border-radius: 1em;
}

#liUno{
    margin-left: 0;
}

.slider-box-ofertas img {
    width: 80%;
    height: 50%;
    border-radius: 1em;
    margin-left: 10%;
}

.text{
    position: absolute;
    padding: 0px;
    top: 130px;
}

.text h2{
    font-size: 18px;
    margin-bottom: -15px;
    text-align: center;
}

.text p{
    text-align: justify;
    padding: 0.5em;
    font-size: 12px;
}

#btnShow{
    width: 35vw;
    height: 10vw;
    border-radius: 1em;
    border: #042ffb solid 0.15em;
    color: #042ffb;
    margin-top: 15px;
    margin-left: 32.5vw;
    font-weight: bold;
    font-size: 15px;
}

#btnShow:active{
    background-color: #ededed;
}

.container-galeria{
    background-color: #fff;
    width: 90%;
    height: 58vw;
    overflow-y: hidden;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 80%;
    margin:auto;
    grid-gap: 10px;
    overflow: hidden;
    border-radius: 1em;
}

.galeria a{
    display: block;
    width: 77%;
    position: relative;
    overflow: hidden;
    margin-top: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

.galeria a:active img{
    filter: blur(2.5px);
    transform: rotate(5deg) scale(1.2);
}

.galeria img{
    width: 100%;
    height: 50vw;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
    transition: tranform 0.4s ease-in-out;
    justify-content: center;
    align-content: center;
    transform: scale(0);
}

.close{
    display: block;
    position: absolute;
    top: 190px;
    right: 30px;
    font-size: 22px;
}

.next-r{
    display: block;
    height: 5vw;
    width: 5vw;
    border: white solid 0.15em;
    border-radius: 1em;
    line-height: 5.5vw;
    text-align: center;
    margin-top: 75%;
    margin-left: 5vw;
}

.next-l{
    display: block;
    height: 5vw;
    width: 5vw;
    border: white solid 0.15em;
    border-radius: 1em;
    line-height: 5.5vw;
    text-align: center;
    margin-top: 75%;
    margin-right: 5vw;
}

.light-box img{
    width: 70vw;
    max-height: 55vw;
    margin-top: 50%;
    object-fit: cover;
}

.light-box:target{
    transform: scale(1);
}

.fondo-sucursal{
    width: 100%;
    height: 100%;
    top: 0;
    position:fixed;
    background: rgba(0,0,0,0.5);
    transition: tranform 0.4s ease-in-out;
    transform: scale(0);
    z-index: 1000;
}

.container-sucursales{
    background-color: #fff;
    width: 90%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    padding-bottom: 15px;
    padding-top: 1px;
}

.container-sucursales a:active .item-sucursal{
    background-color: #ededed;
}

.item-sucursal{
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 5%;
    width: 90%;
    height: 45px;
    background-color: white;
    border: #042ffb solid 0.15em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.item-sucursal h2{
    text-align: center;
    line-height: 10px;
}

.light-box-sucursal{
    width: 90vw;
    height: 90vw;
    position: fixed;
    top: 25%;
    left: 0;
    margin-left: 5%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    display: flex;
}

.zoom-sucursal h2{
    margin-left: 30px;
    padding-top: 5px;
}

.zoom-sucursal p{
    margin-left: 20px;
    font-size: 16px;
    margin-top: -8px;
}

.sucursales-maps{
    width: 80vw;
    height: 40vw;
    margin-left: 4vw;
    margin-top: -8px;
    border-radius: 1em;
}

.close2{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.fondo-sucursal:target{
    transform: scale(1);
}

#btnShow2{
    width: 100px;
    height: 30px;
    border-radius: 1em;
    border: #666 solid 0.15em;
    margin-top: 15px;
    margin-left: 40%;
}

#btnShow2:active{
    background-color: #424141;
}

.container-noticias{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 65vw;
    overflow-y: hidden;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
}

.noticia{
    margin-left: 5%;
    margin-top: 5%;
    width: 80%;
    height: 50vw;
    background-color: #c4c4c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 0.2em;
}

.noticia img{
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

.noticia h2{
    text-align: center;
    margin-top: 1px;
}

.noticia p{
    text-align: justify;
}

.container-noticias a:active img{
    filter: blur(2px);
}

.fondo-noticia{
    width: 100%;
    height: 100%;
    top: 0;
    position:fixed;
    background: rgba(0,0,0,0.5);
    transition: tranform 0.4s ease-in-out;
    transform: scale(0);
    z-index: 1000;
}

.light-box-noticia{
    width: 90%;
    height: 80vw;
    position: fixed;
    top: 25%;
    left: 0;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 1em;
    display: flex;
}

.zoom-noticia h2{
    margin-left: 30px;
    padding-top: 5px;
}

.zoom-noticia p{
    padding: 1em;
    font-size: 16px;
    margin-top: -10px;
    text-align: justify;
}

.zoom-noticia img{
    width: 80vw;
    height: 40vw;
    margin-left: 4vw;
    margin-top: -8px;
    border-radius: 1em;
}

.fondo-noticia:target{
    transform: scale(1);
}

#btnShow3{
    width: 100px;
    height: 30px;
    border-radius: 1em;
    border: #666 solid 0.15em;
    margin-top: 15px;
    margin-left: 40%;
}

#btnShow3:active{
    background-color: #424141;
}

@keyframes slide1 {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@keyframes slide2 {
    0% {margin-left: 0;}
    15% {margin-left: 0;}

    20% {margin-left: -50%;}
    35% {margin-left: -50%;}

    40% {margin-left: -100%;}
    55% {margin-left: -100%;}

    60% {margin-left: -150%;}
    75% {margin-left: -150%;}

    80%{margin-left: -200%;}
    100%{margin-left: -200%;}
}


/* Codigo Pelo */

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    background-color: #088475;
}

.next {
    right: 0;
    border-radius: 3px 3px 3px 3px;
}

.prev:hover,
.next:hover {
    background-color: #088475;
}

/* Estilos para los puntos */
.dot-container {
    text-align: center;
    padding: 20px;
    background: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Estilos para las im치genes */
.img-container {
    text-align: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Estilos para las noticias */
.noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.noticia {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.noticia h2 {
    color: #333;
    font-size: 1.5em;
}

.noticia p {
    color: #666;
}

a {
    text-decoration: none;
}

a.sin-subrayado {
    text-decoration: none;
}

a:visited {
    color: black;
    font-weight: bold;
}

a:link {
    color: black;
    font-weight: bold;
}

/*Estilos sponsors*/
#sponsors {
    padding: 20px;
    background-color: white;
}

.sponsor {
    display: block;
    margin-right: 20px;
    text-align: center;
}

.sponsor img {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    /* Centrar horizontalmente la imagen */
}

/* Estilos para la secci칩n de suscripci칩n */
#suscripcion {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#suscripcion h2 {
    margin-bottom: 20px;
}

#suscripcion input[type="email"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#suscripcion button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#suscripcion button:hover {
    background-color: #0056b3;
}

form {
    display: block;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 13px;
    margin-bottom: 13px;
    width: 100px;
}

.logo {
    height: 40px;
}

.btn-menu label{
    cursor: pointer;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.cont-menu{
    width: 100%;
    max-width: 200px;
    background-color: #633ae5;
    height: 100vh;
    position: relative;
    transition: all 0.5 ease;
}

.cont-menu nav{
transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-left: 5px solid transparent;   
    transition: all 0.5s ease; 
}

.cont-menu nav a:active{
    background-color: #4726b4;
    border-left: #734cf5 solid 5px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.perfil button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}


