/* estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #7dd956;
    text-decoration: none;
}

h1{
    color: black;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* barra superior */
.nav{
    background-color: #2e711c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.container-bar{
    height: 80px;
    display:block;
  }
  
.container-bar a{
  position: absolute;
  top: 0;
  right: 1.5vw;
  height: 70px;
}
  
#logo{
  position: absolute;
  top: 0;
  margin-left: 1em;
  margin-top: 0.5em;
  border-radius: 15em;
}
  
#user{
  font-size: 65px;
  border-radius: 1em;
  margin-left: -1em;
  margin-top: 2vw;
}
  
.container-bar h1{
  color: white;
  position: absolute;
  top: 5%;
  left: 28vw;
  font-size: 25px;
}

/* slider de imagenes superior */

.slider-box-banner{
    width: 85vw;
    height: auto;
    margin-left: 6.5vw;
    margin-top: 15vw;
    overflow-x: hidden;
}

.slider-box-banner ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 400%;
    animation: slide1 20s infinite alternate ease-in-out;
}

.slider-box-banner li{
    list-style: none;
    width: 100%;
    height: 180px;
    position: relative;
}

.slider-box-banner .img {
    width: 95%;
    height: 100%;
    border-radius: 1em;
    border: #2e711c solid 0.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-left: 2.5%;
    object-fit: cover;
}

/* accesos rapidos */

.titulo1{
    text-align: center;
    margin-top: 5vw;
    color: white;
}

.container-accesos-rap{
    display: flex;
    flex-direction: row;
}

.card-acceso{
    width: 28.5vw;
    margin-left: 2.5%;
    background-color: #e0dd69;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    border: #2e711c solid 0.2em;
    padding-bottom: 1.3em;
}

.card-acceso h2{
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -2px;
}

.card-acceso a{
    display: block;
    width: 16vw;
    margin-left: 1.8vw;
    border-radius: 1em;
    border: #2e711c solid 0.2em;
    background-color: #865234;
    padding: 0.5em 1.0em;
    font-size: 15px;
}

.card-acceso span {
    color: white;
}

#card1{
    margin-left: -0.5vw;
}

#card2{
    margin-left: -1.5vw;
}

#card3{
    margin-left: 1.5vw;
}


/* sucursales */

.fondo-sucursal{
    width: 100%;
    height: 100%;
    top: 0;
    position:fixed;
    background: rgba(0,0,0,0.5);
    transition: tranform 0.4s ease-in-out;
    transform: scale(0);
    z-index: 1000;
}

.container-sucursales{
    background-color:rgb(224, 224, 224);
    width: 90%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    padding-bottom: 15px;
    padding-top: 1px;
}

.container-sucursales a:active .item-sucursal{
    background-color: #ededed;
}

.item-sucursal{
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 5%;
    width: 90%;
    height: 45px;
    background-color: white;
    border: #a2fa1b solid 0.15em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.item-sucursal h2{
    text-align: center;
    line-height: 10px;
}

.light-box-sucursal{
    width: 90vw;
    height: 90vw;
    position: fixed;
    top: 25%;
    left: 0;
    margin-left: 5%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    display: flex;
}

.zoom-sucursal h2{
    margin-left: 30px;
    padding-top: 5px;
}

.zoom-sucursal p{
    margin-left: 20px;
    font-size: 16px;
    margin-top: -8px;
}

.sucursales-maps{
    width: 80vw;
    height: 40vw;
    margin-left: 4vw;
    margin-top: -8px;
    border-radius: 1em;
}

.close2{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.fondo-sucursal:target{
    transform: scale(1);
}

/* galeria */

.container-galeria{
    background-color: rgb(224, 224, 224);
    width: 90%;
    height: 58vw;
    overflow-y: hidden;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 80%;
    margin:auto;
    grid-gap: 10px;
    overflow: hidden;
    border-radius: 1em;
}

.galeria a{
    display: block;
    width: 77%;
    position: relative;
    overflow: hidden;
    margin-top: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

.galeria a:active img{
    filter: blur(2.5px);
    transform: rotate(5deg) scale(1.2);
}

.galeria img{
    width: 100%;
    height: 50vw;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
    transition: tranform 0.4s ease-in-out;
    justify-content: center;
    align-content: center;
    transform: scale(0);
}

.close{
    display: block;
    position: absolute;
    top: 190px;
    right: 30px;
    font-size: 22px;
}

.next-r{
    display: block;
    height: 5vw;
    width: 5vw;
    border: white solid 0.15em;
    border-radius: 1em;
    line-height: 5.5vw;
    text-align: center;
    margin-top: 75%;
    margin-left: 5vw;
}

.next-l{
    display: block;
    height: 5vw;
    width: 5vw;
    border: white solid 0.15em;
    border-radius: 1em;
    line-height: 5.5vw;
    text-align: center;
    margin-top: 75%;
    margin-right: 5vw;
}

.light-box img{
    width: 70vw;
    max-height: 55vw;
    margin-top: 50%;
    object-fit: cover;
}

.light-box:target{
    transform: scale(1);
}

#btnShow{
    width: 35vw;
    height: 10vw;
    border-radius: 1em;
    border: #a2fa1b solid 0.15em;
    background-color: white;
    color: black;
    margin-top: 15px;
    margin-left: 32.5vw;
    font-weight: bold;
    font-size: 15px;
}

#btnShow:active{
    background-color: white;
    border: #a2fa1b solid 0.15em;
}


@keyframes slide1 {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@keyframes slide2 {
    0% {margin-left: 0;}
    15% {margin-left: 0;}

    20% {margin-left: -50%;}
    35% {margin-left: -50%;}

    40% {margin-left: -100%;}
    55% {margin-left: -100%;}

    60% {margin-left: -150%;}
    75% {margin-left: -150%;}

    80%{margin-left: -200%;}
    100%{margin-left: -200%;}
}