body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efeded;
}

#actionButton {
    width: 30vw;
    margin-left: 15vw;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: #a2fa1b solid 0.2em;
    border-radius: 1em;
    cursor: pointer;
    font: Arial;
    font-size: 20px;
}

#actionButton:active {
    background-color: #efeded;
}

#content {
    padding: 20px;
    transition: margin-left 0.5s;
}

.container {
    margin-top: 20vw;
    margin-left: 15vw;
    display: block;
    background-color: #fff;
    border-radius: 8px;
    border: #a2fa1b solid 0.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60vw;
    margin-bottom: 1rem;
}

.container img {
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    margin-bottom: 5px;
}

a.sin-subrayado {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}