/* estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    text-decoration: none;
}

h1{
    color: black;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* barra superior */
.container-bar{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 1;
    word-wrap: break-word;
  }
  
.container-bar a{
  margin-left: 20%;
}
  
#logo{
  margin-left: 1em;
  margin-top: 0.5em;
  border-radius: 15em;
}
  
#user{
  font-size: 50px;
  border-radius: 1em;
  margin-left: 1em;
  color: black;
  margin-top: 1vw;
}
  
.container-bar p{
  font-size: 19px;
  margin-top: 5%;
  margin-left: 2%;
}

/* buscador */
#menuSuperior {
    background-color: white;
    padding: 10px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    width: 50vw;
    border: 0.15em solid #a2fa1b;
    border-radius: 0.5em;
    margin-left: 10vw;
}


/* sucursales */
#sucursales {
    margin-top: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    column-count: 1;
    column-gap: 20px;
}

#sucursales h2 {
    text-align: center;
    margin-top: 0.5vw;
}

.sucursal {
    border: 0.2em solid #a2fa1b;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 10px;
    width: 300px;
}

#iframeContainer {
    width: 250px;
    /* Ancho del contenedor */
    height: 250px;
    /* Altura del contenedor */
    border: 1px solid #ccc;
    /* Borde del contenedor */
    padding: 10px;
    /* Espacio interior del contenedor */
    margin: 20px auto;
    /* Margen externo del contenedor (centrado horizontalmente) */
    overflow: hidden;
    /* Oculta el contenido que se desborda del contenedor */
    border-radius: 8px;
    /* Borde redondeado del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra del contenedor */
}

#iframeContainer iframe {
    width: 100%;
    /* Ancho completo del iframe dentro del contenedor */
    height: 100%;
    /* Altura completa del iframe dentro del contenedor */
    border: none;
    /* Sin borde para el iframe */
}



.sucursal p{
    font-size: 15px;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 15vw;
    width: 2.5vw;
    height: 2.5vw;
    padding: 2vw 2vw;
    margin-left: -2.4vw;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 1em;
    line-height: 2.5vw;
    text-align: center;
    background-color: #a2fa1b;
}

.next {
    right: 0;
    margin-right: -2.5vw;
    border-radius: 1em;
}

.prev:hover,
.next:hover {
    background-color: #74c002;
}

/* Estilos para los puntos */
.dot-container {
    text-align: center;
    padding: 20px;
    background: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Estilos para las imágenes */
.img-container {
    text-align: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1em;
    margin: auto;
}


.fondo-sucursal{
    width: 100%;
    height: 100%;
    top: 0;
    position:fixed;
    background: rgba(0,0,0,0.5);
    transition: tranform 0.4s ease-in-out;
    transform: scale(0);
    z-index: 1000;
}

.item-sucursal{
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 5%;
    width: 90%;
    height: 10vw;
    background-color: white;
    border: #a2fa1b solid 0.15em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.item-sucursal h2{
    text-align: center;
    line-height: 8vw;
    color:black;
}

.light-box-sucursal{
    width: 90vw;
    height: 95vw;
    position: fixed;
    top: 25%;
    left: 0;
    margin-left: 5%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    display: flex;
}

.light-box-sucursal h2{
    display: flex;
    text-align: center;
    width: 40vw;
    margin-left: 16vw;
    padding: .2em;
    padding-left: 2em;
    border: #a2fa1b solid 1vw;
    border-radius: 1em;
}

.sucursales-maps{
    width: 80vw;
    height: 65vw;
    margin-left: 5vw;
    border-radius: 1em;
}

.close2{
    display: block;
    position: absolute;
    top: 2vw;
    right: 2vw;
    font-size: 8vw;
}

.fondo-sucursal:target{
    transform: scale(1);
}

#suc1{
    margin-top: -15vw;
}

#content {
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 0.5s;
}