/* estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  text-decoration: none;
}

h1{
  color: black;
  text-align: center;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

/* barra superior */
.container-bar{
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1;
  word-wrap: break-word;
}

.container-bar a{
margin-left: 20%;
}

#logo{
margin-left: 1em;
margin-top: 0.5em;
border-radius: 15em;
}

#user{
font-size: 50px;
border-radius: 1em;
margin-left: 1em;
color: black;
margin-top: 1vw;
}

.container-bar p{
font-size: 19px;
margin-top: 5%;
margin-left: 2%;
}

/* boton de guardar */
#actionButton {
    width: 30vw;
    margin-left: 20vw;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: #a2fa1b solid 0.2em;
    border-radius: 1em;
    cursor: pointer;
    font: Arial;
    font-size: 20px;
}

#actionButton:active {
    background-color: #efeded;
}


/* contenido */

  .container {
    display: block;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #a2fa1b solid 0.2em;
    padding: 20px;
    margin: 0 auto;
    width: 70vw;
    margin-top: 25vw;
    margin-bottom: 1rem;
  }

  .container img {
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
  }

  .strength-meter {
    margin-top: 10px;
    width: 200px;
    height: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
  }

  .strength-bar {
    margin-top: 2px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    max-width: 100%;
    transition: width 0.5s ease;
  }

  .strength-weak {
    background-color: #ff6b6b;
  }

  .strength-medium {
    background-color: #ffd166;
  }

  .strength-strong {
    background-color: #06d6a0;
  }

  .strength-weak .strength-bar {
    width: 33.33%;
    /* Ajusta este valor según el nivel de fortaleza */
  }

  .strength-medium .strength-bar {
    width: 66.67%;
    /* Ajusta este valor según el nivel de fortaleza */
  }

  .strength-strong .strength-bar {
    width: 100%;
    /* Ajusta este valor según el nivel de fortaleza */
  }

  .strength-label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }