/* estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    text-decoration: none;
  }
  
  h1{
    color: black;
  }
  
  a{
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

#actionButton {
    width: 30vw;
    margin-left: 15vw;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 0.2em solid #a2fa1b;
    border-radius: 1em;
    cursor: pointer;
    font: Arial;
    font-size: 15px;
}

#actionButton:active {
    background-color: #efeded;
}

#content {
    padding: 20px;
    transition: margin-left 0.5s;
}

.container {
    display: block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 0.2em solid #a2fa1b;
    padding: 20px;
    margin: 0 auto;
    width: 60vw;
    margin-top: 25vw;
    margin-bottom: 5vw;
}

.container img {
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
}
