.carusel{
    width: 90%;
    max-width: 120em;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border-radius: 1em;
    margin-left: 5%;
    overflow-x: hidden;
}

.carusel .grande{
    width: 400%;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    padding: 0 1em;

    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carusel .img{
    width: calc(90% / 4);
    height: 140px;
    background-color:rgb(255, 255, 255);
    object-fit:cover;
    margin-top: 1em;
}

.carusel .puntos{
    width: 100%;
    list-style: none;

    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    margin-left: -11%;
}

.carusel .punto{
    width: 1em;
    height: 1em;
    background-color: #bbb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border-radius: 1em;
    margin: 1em;
}

.carusel .punto.activo{
    background-color: #717171;
}

.slider_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #af0988;
    bottom: 10%;
    transform: translateY(-50%);
    text-align: center;
    border: #7a0a60 solid 0.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.slider_btn i{
    width: 0px;
    height: 0px;
    margin-top: 15px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #af0988;
    color: white;
}

.slider_btn:hover{
    background-color: #21022c;
    border: #360745 solid 0.2rem;
}

#right{
    margin-left: -15px;
}

.slider_btn_left{
    left: 10px;
}

.slider_btn_right{
    right: 10px;
}

.slider_cont{
    margin-top: 15px;
    width: 60%;
    padding: 15px;
    margin-left: 20%;
    background-color: #7a0a60;
    border-radius: 1.5rem;
}

.slider_cont h2{
    width: 60%;
    padding: 10px;
    margin-left: 20%;
    background-color: #360745;
    text-align: center;
    color: white;
    font-size: 30px;
    border-radius: 1.5rem;
}

.slider_cont p{
    background-color: #360745;
    margin-top: 10px;
    padding: 15px;
    border-radius: 1.5rem;
    text-align: center;
    color: white;
}
